glove/glove.42B.300d.txt
sumdata/DUC2003/input.txt
sumdata/DUC2003/task1_ref0.txt
sumdata/DUC2003/task1_ref1.txt
sumdata/DUC2003/task1_ref2.txt
sumdata/DUC2003/task1_ref3.txt
__pycache__/utils.cpython-35.pyc
__pycache__/model.cpython-35.pyc
word_dict.pickle
sumdata/DUC2004/input.txt
sumdata/DUC2004/task1_ref0.txt
sumdata/DUC2004/task1_ref1.txt
sumdata/DUC2004/task1_ref2.txt
sumdata/DUC2004/task1_ref3.txt
sumdata/Giga/input.txt
sumdata/Giga/task1_ref0.txt
sumdata/train/train.article.txt
sumdata/train/train.article.txt.gz
sumdata/train/train.title.txt
sumdata/train/train.title.txt.gz
summary.tar.gz
args.pickle
sumdata/train/valid.article.filter.txt
sumdata/train/valid.title.filter.txt
